<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/card.css">
</head>
<body>
<div layout:fragment="content">
  <h1>404 Page</h1>
  <div>
    Code: <span th:text="${code}"></span> <br>
    Message: <span th:text="${msg}"></span> <br>
    TimeStamp: <span th:text="${timeStamp}"></span> <br>
  </div>
</div>
</body>
</html>