h2{
    color: #1c4357;
}
/* 헤더 스타일 */
.navbar {
    background-color: #1a1a1a !important;
    font-family: none !important;
    font-size:12pt !important;
    font-weight: bold !important;

}
h1{
    color: #151515;
    font-weight: bold;
    text-align: center;
}

body {
    font-family: "Malgun Gothic";
    font-size:10pt;
    background-color: #f8f9fa;
    font-weight: bold;
}
.btn {
    border: solid red 0px;
    width: 150px;
    text-align: center; /* 부모 요소에 text-align 속성을 적용하여 가로 중앙 정렬 */
}
.card-footer {
    text-align: center;
}

.form-select {
    font-family: "Malgun Gothic";
    font-size:10pt;
}