<!--
작성자 : 이민재
-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout.html}">
<head>
  <title>메인페이지</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/css/mainpage.css">
</head>
<body layout:fragment="content">
<div class="container-fluid p-8 bg text-white text-center">
  <h1 style="font-family: 나눔고딕;">수리 오형제</h1>
  <p1>이동을 간편하게, 친환경 개인 이동수단 공유 서비스.</p1>
</div>
<div class="container container-second">
  <div class="event-img" alt="이미지가 없습니다.">
  </div>
  <div class="container mt-5" >
    <h2>회사 소개</h2>
    <div class="row">
      <div class="col-sm-4">
        <h3>다양한 사람들과
          함께하고</h3>
        <br>
        <div>
          <p>외국인 이용가능 <br>
            <br>
            대학생 할인 혜택 제공 <br>
            <br>
            면허 없이 이용 가능한 기종 운영</p>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>다양한 이동을 지원하며</h3>
        <br>
        <div>
          <p>여러 이동수단 대여를 하나의 앱에서 제공 <br>
            <br>
            많은 기기를 넓은 지역에서 제공</p>
        </div>
      </div>
      <div class="col-sm-4">
        <h3>안전한 도시환경을 만듭니다.</h3><br>
        <div>
          <p>속도별 주행모드 도입으로 안전성 확보<br>
            <br>
            자체 PM 안전교육 실시<br>
            <br>
            헬멧 착용 유무에 따른 대여</p><br>
        </div>
      </div>
    </div>
  </div>

  <title>뉴스 기사</title>
  </head>
  <body>

  <div class="container container-third">
    <h2>새 소식</h2>
    <div class="row">

      <div class="col-sm-4">
        <div class="news-block">
          <a href="https://zdnet.co.kr/view/?no=20231201155833" target="_blank">
            <img src="https://image.zdnet.co.kr/2022/08/29/e9d6680d1ffe63275b5613664e1c1516.jpg"
                 alt="뉴스기사 1 이미지" class="news-image" width="300" height="200">
            <h3>스윙, 최고시속 25㎞→20㎞로 낮춘다.</h3>
            <p>- 속도 저감으로 안전성을 제고해, 업계 인식 전환을 모색.</p>
            <p>- 이용자 10명 중 7명이 15~20㎞/h로 주행하였다.</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="news-block">
          <a href="https://www.jjn.co.kr/news/articleView.html?idxno=956210" target="_blank">
            <img src="https://www.m-i.kr/news/photo/202011/765140_543618_1747.jpg"
                 alt="뉴스기사 2 이미지" class="news-image" width="300" height="200">
            <h3>방치 전동킥보드, 노인일자리로 활용</h3>
            <p>- 신고 절차가 어렵지 않아 노인일자리 창출 등 긍정적 효과.</p>
            <p>- 50여명을 대상으로 워크숍을 진행한다..</p>
          </a>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="news-block">
          <a href="https://www.straightnews.co.kr/news/articleView.html?idxno=228844" target="_blank">
            <img src=https://img.etnews.com/photonews/2105/1412511_20210512132723_688_0001.jpg
                 alt="뉴스기사 3 이미지" class="news-image" width="300" height="200">
            <h3>자전거·킥보드 헬멧 무료나눔</h3>
            <p>- 우아한청년들이 안전을 위해 헬멧을 무료 배포하는 이벤트를 개최한다.</p>
            <p>- 헬멧 착용을 독려하기 위한 이벤트를 마련했다고 설명.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  </body>
  <div class="image-container">
    <h4>수리오형제</h4><br>
    <p>
      수리오형제는 미래 기술인 AI로<br>
      이동수단을 좀 더 편리하게 이용할 수 있게 만드는<br>
      믿을 수 있는 글로벌 기업입니다.
    </p>
    <br>
    <br>
    <p>
      제품 탐색부터 구매까지 가능한 온라인 헬멧 스토어
    </p>
  </div>
</div>
</body>
</html>